/debug/
/GeneratedFiles/
/include/
/release/
/x64/
/.vs/
/build-ccr-Desktop_Qt_5_6_2_MSVC2015_64bit-Debug/
/build-ccr-Desktop_Qt_5_6_2_MSVC2015_64bit-Release/
/build-ccr-Desktop_Qt_5_6_2_MSVC2015_64bit-Profile/
.qmake.stash
ccr.pro.user
ccr.sdf
ccr.sln
ccr.v12.suo
ccr.VC.db
ccr.vcxproj
ccr.vcxproj.filters
ccr.vcxproj.user
Makefile
Makefile.Debug
Makefile.Release
ui_groupboxforlocation.h
ui_groupboxforonline.h
ui_mainwindow.h
ui_widgetforopensource.h
ui_widgetforsavesource.h
